<div class="row1">
        <img src="../assets/ccslogo.jpg" class="cloud-logo" >
        <button class="button"  (click)="auth.signOut()" >
            <img src="../assets/logout.svg" class="logout">
            <p class="button-text">Back</p>
        </button>    
</div>

<div class="row2">
        <div class="column1">
            <img src="../assets/cloud.svg" class="cloud-image" >
        </div>
        <div class="column2">
        <div class="heading">    
        <p >Request For Videos</p>
        </div>
        <div class="input-form">
                <div class="control-group-date">
                    <label class = "date-label" >Date:</label>
                    <input placeholder="Date" type="Date" class="date-input"   name="Date" id="Date">
                </div>
                <div class="control-group">
                    <select  name= "hours" class =  "inputs"  id="Hours">
                        <option value="" disabled selected>Hours</option>
                        <option *ngFor="let hour of Hours" [value]="hour" >{{hour}}</option>
                    </select>
                    <select  name= "minutes" class =  "inputs"  id="Minutes" >
                        <option value="" disabled selected>Minutes</option>
                        <option *ngFor="let minute of Minutes" [value]="minute">{{minute}}</option>
                    </select>
                    <select  name= "session"  class =  "inputs" id="Session">
                        <option  value="" disabled selected>AM/PM</option>
                        <option  value="AM" >AM</option>
                        <option  value="PM" >PM</option>
                    </select>
                </div>
                <input type="submit" value="Submit" (click)="submit()" class="btn btn-primary btn-submit" >
                <br><flash-messages></flash-messages>
        </div>        
</div>  
<div class="row3">
    <div>
        <img src="../assets/Waves.svg" class="img-background" alt="logo">
    </div>
</div>      