.column1 {
  float: left;
  background-color: rgb(253, 244, 231);
  background-size: cover;
  width: 70%;
}
.column2 {
  float: left;
  width: 30%;
}  
/* Clear floats after the columns */

.img-background{
    margin:auto;
    display: block;
}

.img-responsive{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:25%;
  margin-bottom:0;
  height:20%;
  width:40%;
}

.text-box1{
      width: 353px;
      margin-top:0%;
}

.text1{
  position: absolute;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 40px;
  color: #232F3F;
  margin-left:9.5%;
}

.text2{
  margin-top:2.5%;
  position: absolute;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 40px;
  color: #232F3F;
  margin-left:3.5%;
}

.text3{
  margin-top:7%;
  position: absolute;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  
  /* or 150% */
  text-align: center;
  
  color: rgba(0, 0, 0, 0.54);
  margin-left:4.5%;
  margin-right:2%;
}

.loginwithgoogle {
  margin:0;
  height:100%;
  width:100%;
}
.button{
  margin-top:44%;  
  width:40%;
  display:block;
  margin-left:32.5%;
  padding:0;
  height:40%;
  color: rgb(111, 121, 111);
}
.button-box:{
    margin-top:90%;
}

