<div class="row">
        <div class="column1">
            <img src="../assets/backgroundtile.svg" class="img-background" alt="logo">
        </div>
        <div class="column2">
            <img src="../assets/ccslogo.jpg" class="img-responsive" >
            <div class="text-box1">
                <p class = "text1">
                    Welcome to 
                </p>
                <p class = "text2">
                    Custom Cloud Solutions 
                </p>
                <p class = "text3">
                         Please Login with your google account
                          to request for new video 
                </p>
            </div>
            <div class="button-box">
                    <button class="button"  (click)="auth.googleSignin()">
                            <img src="../assets/signinwithgoogle.png" class="loginwithgoogle">
                    </button>
            </div>
        </div>
      </div> 