.column1 {
    float: left;
    background-color: rgb(255, 255, 255);
    background-size: cover;
    width: 30%;
    height:60%;
  }
.column2{
    float:left;
    background-color: rgb(255, 255, 255);
    background-size: cover;
    width: 70%;
    height:60%;
} 
.img-background{
    margin:0;
    display: block;
    width:100%;
    height:50%;
}  
.row1{
    float:top;
    background-color: rgb(247, 238, 238);
    height:10%;
}
.row2{
    float:top;
    margin:0;
    height:70%;
}
.cloud-image{
    margin-top:10%;
    height:100%;
    width:102%;
    margin-bottom:0;
}

.row3{
    margin:0;
    height:20%;
}
.cloud-logo{
    margin-left:5%;
    height:5%;
    width:5%;
}
.button{
    background-color: rgb(247, 238, 238);
    margin-left:85%;
    height:0.5%;
    width:4%;
}
.button-text{
    height:10%;
    width:10%;
    margin-left:10%;
    font-size:80%;
    color:red;
}
.logout{
    width:50%;
    height:50%;
}

.heading{
    margin-left:12%;
    margin-top:4%;
    position: absolute;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 40px;
    text-align: center;
    color: #232F3F;
}

.input-form{
    margin-left:13%;
    margin-top:15%;
}

.control-group-date{
    margin-top:0%;
    margin-left:0%;
    margin-bottom:4%;
}
.inputs{
    color: rgba(0, 0, 0, 0.38);
    size:50%;
    margin-right:4.5%;
}
.btn-submit{
    margin-top:30px;
    width:20%;
    margin-left:8%;
    background: #FE9900;
    border-radius: 2px;
}
.date-input{
    margin-left:2%;
    width:30%;
    color: rgba(0, 0, 0, 0.38);
}
.date-label{
    color: #232F3F;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
}